{% extends 'base.html' %}

{% block title %}Create Poll{% endblock %}

{% block content %}
{% load bootstrap5 %}



{% if user.is_authenticated %}
{% ifequal user.noPolls 5 %}

<h1>You have alread created 5 polls</h1>

{% else %}

<h2>Create a Poll</h2>
<form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary">create</button>
</form>
{% endifequal %}
{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}